html, body {
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
}

body {
  position: absolute;
  display: table;
}

.container {
  vertical-align: middle;
  display: table-cell;
}

/* Task List */
#task-list {
    background-color: #eee;
    padding: 10px;
    max-width: 400px;
    border-radius: 9px;
    margin: 0 auto;
}

    #task-list > .title {
        font-size: 1.8em;
        line-height: 1.8em;
        font-weight: bold;
    }

    /* Task */
    #task-list .tasks {
        padding-bottom: 25px;
    }

    #task-list .tasks .task {
        clear: both;
        padding: 2px;
        margin-left: 5px;
    }

        #task-list .tasks .task [type=checkbox] {
            padding-right: 3px;
            margin-top: 2px;
            font-size: 20px;
            float: left;
        }

        #task-list .tasks .task .title {
            font-size: 1.1em;
            cursor: pointer;
            float: right;
            width: 94%;
        }

        #task-list .tasks .task [name=title] {
            width: 245px;
        }
        #task-list .tasks .task [class=input-append] {
            margin-bottom: 0;
        }

        #task-list .tasks .task.completed {
            text-decoration: line-through;
            color: #666;
        }

    /* Actions */
    #task-list .list-actions {
        position: relative;
        top: 10px;
    }

        #task-list .list-actions .show-intro {
            float: right;
        }

    /* Summary */
    #task-list .list-summary {
        margin-top: 20px;
    }

        #task-list .list-summary .progress {
            margin-bottom: 0;
        }


@media (max-width: 767px) {
  .modal {
    width: 95%;
  }
  .modal.fade.in {
    top: 5%;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 3px;
    margin: 5px;
  }
}
